/* poppins font  */
@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Poppins:wght@400;500;600;700&display=swap");

/* colors */
:root {
  /* ### Primary */
  --Cyan: hsl(180, 66%, 49%);
  --DarkViolet: hsl(257, 27%, 26%);
  --White: hsl(0, 0%, 100%);

  /* ### Secondary */
  --Red: hsl(0, 87%, 67%);

  /* ### Neutral */
  --Gray: hsl(0, 0%, 75%);
  --GrayishViolet: hsl(257, 7%, 63%);
  --VeryDarkBlue: hsl(255, 11%, 22%);
  --VeryDarkViolet: hsl(260, 8%, 14%);
}
/* css reset  */
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--Gray);
  font-size: 1.6rem;
  color: var(--VeryDarkBlue);
}
a {
  color: var(--VeryDarkBlue);
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  line-height: 1.7;
}
.button {
  padding: 1.2rem 2.7rem;
  border-radius: 10rem;
  background-color: var(--Cyan);
  color: var(--White);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
/************navbar**************/
.header {
  background-color: var(--White);
  /* height: 100vh; */
}
.nav__content,
.nav__menu {
  display: flex;
  align-items: center;
}
.nav__menu {
  width: 80%;
  justify-content: space-between;
}
.nav__content {
  height: 10vh;
  width: 90%;
  margin: auto;
  justify-content: space-between;
}
.nav__link:not(:last-child) {
  margin-right: 4rem;
}
.nav__menu.active {
  left: 50%;
  /* display: block; */
}
.hamburger {
  display: none;
}
.bar {
  display: block;
  width: 35px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.nav__start,
.nav__end {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 800px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav__menu {
    /* display: none; */
    flex-direction: column;
    background-color: var(--DarkViolet);
    color: var(--White);
    position: absolute;
    top: 35%;
    /* left: 50%; */
    left: -100%;
    transform: translate(-50%, -50%);
    padding: 2rem 0;
    border-radius: 0.5rem;
    width: 90%;
    max-width: 500px;
    flex-wrap: wrap;
  }
  .nav__button {
    flex-basis: 100%;
    width: 90%;
    max-width: 450px;
  }
  .nav__link {
    color: var(--White);
  }
  .nav__link:not(:last-child) {
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .nav__start .nav__link:last-child {
    margin-bottom: 3rem;
  }
  .nav__start {
    margin: 0 0 3rem 0;
    border-bottom: 1px solid var(--GrayishViolet);
  }
  .nav__start,
  .nav__end {
    width: 80%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }
}

/***********hero***********/
.hero__content {
  min-height: 600px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  max-width: 1200px;
  width: 90%;
  margin: auto;
  gap: 2rem;
}
.hero__left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}
.hero__title {
  font-size: 6rem;
  font-weight: bold;
  line-height: 1;
}
.hero__img {
  width: 100%;
  object-fit: cover;
  max-height: 100%;
  /* position: absolute; */
  /* right: 0; */
  /* top: 0; */
}
/* .hero__div {
  flex-basis: 100%;
} */
@media only screen and (max-width: 800px) {
  .hero__content {
    /* flex-direction: column; */
    grid-template-columns: 1fr;
  }
}
